.about-fluid {
	display: flex;
	margin: 28vh 0 0 0;
	padding: 0 0 20vh 0;
	.about-content {
		width: 50vw;
		position: relative;
		&-description {
			width: 600px;
			color: #fff;
			font-family: 'SF Pro Text', sans-serif;
			font-size: 36px;
			line-height: 52px;
			z-index: 1;
		}

		img { width: 100%; }

		&-number {
			font-family: 'SF Pro Text', serif;
			font-size: 220px;
			color: rgba(190, 6, 6, 0.5);
			z-index: -1;
		}
	}
}

.first-step {
	justify-content: flex-start;
	.about-content .about-content-description {
		position: absolute;
		left: 75%;
		top: 26%;
	}
	.about-content .about-content-number {
		position: absolute;
		bottom: -105px;
		right: -167px;
	}
}

.about-content-number {
	font-family: 'SF Pro Text', sans-serif;
	font-weight: 800;
	letter-spacing: -0.1em;
}

.last-step {
	justify-content: flex-end;
	.about-content .about-content-description {
		position: absolute;
		right: 60%;
		top: 26%;
	}
	.about-content .about-content-number {
		position: absolute;
		bottom: -105px;
		left: -167px;
	}
}


