@import "custom-variables";


.full-page-navigation {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 6;
  display: none;


  ul{
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 0 30vw;
    li{
      @include heading_styles;
      margin: 5vh 0;
      font-size: $main_heading_size + 10;
      letter-spacing: -0.12em;
    }
    li a {
     transition: all ease-in 0.1s;
      color: white;
      &:hover {
        color: $red_main;
      }
    }

  }

}
.on {
  display: block;
}
