
@import "reset";
@import "custom-variables";
@import "glitch";
@import "fonts";

@import "fullpage";
@import "about";
@import "word";



.head-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100vh;
  filter: blur(3px);
  background: linear-gradient(181.01deg, rgba(65, 65, 65, 0) -28.08%, rgba(21, 21, 21, 0) 35.92%, #080808 83.3%), url("../img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#glitch-img {
  z-index: -1 !important;
  width: 100%;
}

.footer-background {
  font-size: $main_heading_size*4;
  text-transform: uppercase;
  margin: 20vh 0 0 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #080808 12.84%, rgba(8, 8, 8, 0) 64.87%, #080808 110.94%), url(../img/10.jpg);
  h1 {
    @include heading_styles;
    color: #EE0000;
    mix-blend-mode: multiply;
  }
}
.description {
  font-size: 16px;
  font-weight: 300;
  line-height: $main_line_height;
  color: $p_standart_color;
  font-family: 'SF Pro Text', sans-serif;
  margin: 40px 0;
}
.head-fluid {
  height: 100vh;
  z-index: 2;

}
nav {
  position: fixed;
  z-index: 1000;
  right: 1%;
  padding: $padding_standart + 5 0 0 0;
  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

}

.about-left {
  display: flex;
  align-items: center;
  height: 100vh;
  .about-left-content {
    h1 {
      font-size: $main_heading_size;
      @include heading_styles;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      max-width: 600px;
      margin: 10% 0 5% 0;
      line-height: $main_line_height;
      font-size: 18px;
      font-family: 'SF Pro Text', sans-serif;
    }
    .button-main {
      @include main_button_red;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.about-right-content {
  margin: 10vh 0 0 0;
  display: flex;
  justify-content: flex-end;
  h1 {
    @include heading_styles;
  }


}
